<!DOCTYPE HTML>
<html ng-app>
<head>

    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
         <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400italic,400,700italic,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="album.js"></script>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/album.css"> -->

    <link rel="stylesheet" href="style-pic.css" />
    
</head>
<body>
 <div class="navnavbar-nav">
 <!-- <h1>Eye on Art Work</h1> -->
 <span><h2>Home</h2></span> 
<a class="button back" onClick="javascript:history.go(-1);"></a>
</div>

<div id="albumWrapper" ng-controller="AlbumCtrl">
    <!-- <div id="header">
        <h2>{{currentImage.description}}</h2>

        <select ng-model="categories"
                ng-options="category for category in imageCategories">
            <option value="">all</option>
        </select>
    </div> -->

    <div id="albumImage">
        <img ng-src="{{currentImage.image}}" alt="{{currentImage.description}}">
    </div>
    <div id="thumbWrapper">
        <ul id="thumbList">
            <li ng-repeat="image in images | filter:{ category: '4' }:true" ng-click="setCurrentImage(image)">

            <!-- filter:{category: 'expensive'} -->
            <!-- filter:{category: 'expensive'} -->
            <!-- filter:{ category: 'B'} -->
                <img ng-src="{{image.thumbnail}}" alt="{{image.description}}">
            </li>
        </ul>
    </div>
</div>
</body>
</html>