body {
  margin: 0;
  font-family: Helvetica;
  /*background-color: #AFB5BA;*/
  /*background-color: #33404d;*/
  background-color: #808080;
  /*color: #000000;*/
 /* -webkit-user-select: none;
  -webkit-text-size-adjust: none;*/
  /*overflow: hidden;*/
  width: 100%;
  /*height: 100%;*/
  height: auto;
  min-height: 100%;

/*  background: url('../imagesUI/bkpic5.png') no-repeat fixed;
*/ /* background-size: auto 100%;
  background-position : center center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;*/
  z-index: -1;
  overflow-y: auto;
  /*margin: 0 auto 0 auto;*/

  
}  


.navnavbar-nav {
/*  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 30px;*/
  /*background-color: rgba(254, 46, 46, 0.6);*/
  /*border: 1px;*/

/*  background: url('../www/imagesUI/AliBanner.png') no-repeat fixed;
 background-size: auto 100%;
  background-position : center center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;*/
}


.container {
/*padding-right: 0px;
padding-left: 0px;
*//*margin-right: auto;
margin-left: auto;*/
/*margin-left: 0px;
margin-right: 0px;
width: 100%;*/
/*width: 100%;
margin: 0px;
padding: 0px;*/

}


/*
.header {

  opacity: 0.5;
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 30px;
  border: 1px;
}*/

.contbanner1 {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 0px;
  display: block;
   margin-left: auto;
  margin-right: auto;
  /*height: 820px;*/
}

.contbanner1 img {
  position: relative;
    /*left: 30px;*/
/*  margin: 0 auto 0 auto;
*/  
  display: block;
 /* margin-left: auto;
  margin-right: auto;*/
  width: 100%;
  height: auto;
  margin-top: 0px;
  height: 420px;



/*position: center center;
 vertical-align: middle;
 margin: 0px;
 left: 50%;
    margin-right: -50%;*/

    /*display: block;*/
    /*margin: 0 auto;*/
    /*margin: 0 auto 0 auto;*/

}

h2 {
  /*background-color: gray;*/
  /*opacity: 2.0;*/
 /* margin-top: 0px;
  padding: 1px;
  position: relative;
  text-align: left;
  width: 100%;*/
  /*height: 40px;*/
/*  background-color: rgba(230, 39, 87, 0.9);
*/ 
  
 /* color: white;*/
  /*font: 40px   Helvetica, sans-serif, Verdana, Arial;*/
  /*font-size: 28px;
  font-family: "crimson";
  text-shadow: #000000 1px 1px 0;*/

  /*background: url('../www/imagesUI/AliBanner.png') no-repeat fixed;
 background-size: auto 100%;
  background-position : center center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;*/

/*font-weight: bold;  */
/*  margin: 1px auto auto 1px;
*/}



.navnavbar-nav img {
  margin-top: 0px;
  padding: 0px;
  position: relative;
  height: 130px;
  width: 100%;
   display: block;
    margin-left: auto;
    margin-right: auto;
    background-position : center center;
   /* background-size: auto 100px;*/


}


.navnavbar-nav {
  /*background-color: gray;*/
  /*opacity: 2.0;*/
  margin-top: 0px;
  padding: 0px;
  position: relative;
  
  width: 100%;
  height: 130px;
/*  background-color: rgba(230, 39, 87, 0.9);
*/ 
  /*background-color: #455667;*/
  background-color: rgba(0, 0, 0, 0.4);
  /*border-bottom: 1px solid #ffffff ;*/
/*  margin: 1px auto auto 1px;
*/}

.jumbotron {
/*padding: 0px;
margin-bottom: 30px;
color: inherit;
width: auto;*/

margin: 0px;
/*margin-right: auto;
margin-left: auto;*/
width: 100%;
padding: 0px;
background-color: transparent;
height: auto;
/*;border-radius: -5px
*/
/* background-color: #eee; */
}

.navnavbar-navali {
  /*background-color: gray;*/
  /*opacity: 2.0;*/
  margin-top: 0px;
  padding: 0px;
  position: relative;
  
  width: 100%;
  height: 60px;
/*  background-color: rgba(230, 39, 87, 0.9);
*/ 
  /*background-color: #455667;*/
  /*background-color: rgba(0, 0, 0, 0.4);*/
  background-color: rgba(51, 0, 102, 1);
  /*border-bottom: 1px solid #ffffff ;*/
/*  margin: 1px auto auto 1px;
*/}

.navnavbar-navali h2 {

    margin-top: 0px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
  /*height: 40px;*/
/*  background-color: rgba(230, 39, 87, 0.9);
*/ 
  
  color: white;
  /*font: 40px   Helvetica, sans-serif, Verdana, Arial;*/
  font-size: 28px;
  font-family: "crimson";
 /* font-family: "Roboto Condensed";
  text-shadow: #000000 1px 1px 0;*/
}

.button.back {
  content: ' ';

  position: absolute;
  /*padding: 5px;*/
  /*height: 40%;
  width: 9%;*/
  height: 28px;
  width: 28px;
  border-radius: 14px;
  /*border-left: 0px solid #bcbcbc;*/
  
  /*background-color: gray;*/
 /* background-image:  url("../www/imagesUI/backfinal.png");
   left: 7px;
  top: 8px;*/

background-color: rgba(255, 255, 255, 1);
  background-image:  url("../www/imagesUI/arrowback2.png");
   left: 7px;
  top: 14px;

/*
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);*/
 /* left: 7px;
  top: 11px;*/
}



.jumbotron {
/*padding: 0px;
margin-bottom: 30px;
color: inherit;
width: auto;*/

margin: 0px;
/*margin-right: auto;
margin-left: auto;*/
width: 100%;
padding: 0px;
background-color: transparent;
height: auto;
/*;border-radius: -5px
*/
/* background-color: #eee; */
}



.jumbotron h1 {
  position: relative;
  /*text-align: left;*/
  /*vertical-align: middle;*/
  float: left;
  /*display: inline;*/
  display: inline-block;
  /*margin-top: 10px;*/
 /* margin-bottom: 50%;
  margin-top: 50%;*/
  /*padding: 0px;*/
  /*margin-top: 15px;*/
  line-height:120px;
  margin-bottom: 50px;
  margin-left: 14px;
  margin-right: 2px;
  

  /*color:rgba(192,192,192,1);*/
  /*color: #808080;*/
  color: #c0c0c0;
  /*margin-bottom: 10px;*/
  /*color: white;*/
/*  background-color: #5C5D5E;
*/ 
 /*background-color: rgba(5, 5, 5, 0.3);*/
  /*width: 100%;*/


  /*font: 40px   Helvetica, sans-serif, Verdana, Arial;*/
  font-size: 20px;
  /*font-family: "Roboto Condensed";*/
  font-family: "crimson";
  /*font-weight: bold;*/

  /*text-shadow: #000000 1px 1px 0;*/

text-decoration: none;


/*  border-top: 1px solid #000000 ;
*/  /*border-bottom: 1px solid #000000;*/
  /*border: 0px;*/
}

 p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: left; 
}


.bg-warning {
width: 100%;
height: 200px;
margin-top: -21px;
margin-bottom: 0px;
background-color: rgba(0, 0, 0, 0.7);
/*background-color: #808080;*/
border-bottom: 1px solid #000000;
border-top: 1px solid #000000 ;


/*background-color: rgba(5, 5, 5, 0.3);*/


}


.bg-warning img {
position: relative;
float: right;
    /*left: 30px;*/
/*  margin: 0 auto 0 auto;
*/  
  display: inline;

line-height:120px;
  /*margin-bottom: 50px;
  margin-left: 14px;
  margin-right: 2px;*/


   margin-left: 4px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  /*line-height: 300px;*/
  /*width: 60%;*/
  height: 140px;
  width: 140px;
  border-radius: 70px;
  /*border: 1px solid #ffffff;*/

  


-webkit-border-radius: 140px;
  -moz-border-radius: 140px;

  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

  /*margin-top: -10px;*/
  /*margin: 10px 50% 10px 50%;*/
}



a {
    color: inherit;
}
/*
a .nounderline {
   text-decoration: none
 }*/

a:hover .nounderline { text-decoration: none }

a .nounderline:hover { text-decoration: none }

/*.a
{text-decoration: none;}*/

.bg-success {
/*background-color: gray;*/
/*opacity: 0.8;
*/
width: 100%;
height: 300px;
margin-top: -20px;
border-bottom: 1px solid #000000;
background-color: rgba(0, 0, 0, 0.4);
border-top: 1px solid #000000 ;




/*background-color: rgba(5, 5, 5, 0.3);*/
/*background-color: #A9A9A9;*/
/*opacity: 0.5;*/

}

.bg-success img {
position: relative;
/*padding: 2px;*/
    /*left: 30px;*/
/*  margin: 0 auto 0 auto;
*/  
  display:  inline-table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
  margin-bottom: 10px;
  /*width: 60%;*/
  height: 200px;
  /*height: 50%;*/
  border: 2px solid #000000;

  /*margin-top: -10px;*/
  /*margin: 10px 50% 10px 50%;*/
}

.bg-danger {
 width: 100%;
height: 300px;
margin-top: -20px;
background-color: rgba(0, 0, 0, 0.4);
border-bottom: 1px solid #000000;
border-top: 1px solid #000000 ;



/*background-color: rgba(5, 5, 5, 0.3);*/

}


.bg-danger img {
position: relative;
    /*left: 30px;*/
/*  margin: 0 auto 0 auto;
*/  
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
  margin-bottom: 10px;
  /*width: 60%;*/
  height: 200px;
  border: 2px solid #000000;

  /*margin-top: -10px;*/
  /*margin: 10px 50% 10px 50%;*/
}


.alert {
  border-radius: 0px;
  padding: 0px;
}

